# Dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# App specific
backend/temp/
backend/downloads/
*.mp4
*.webm
*.part
*.ytdl

# Cookies (sensitive)
cookies.txt
**/cookies*.txt
